# Dependency directories
node_modules
!modules/node_modules/

# BeyondJS cache
.beyond

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
